
body {
  background-color: #4285f4;

}


.App {
  text-align: center;
  color: black;
}


h1 {
  padding-top: 20px;
  color: black

}

h2 {
  color: white;
  padding-top: 20px;
}

p {
  font-style: italic;
  color:#fbbc05;
  width: 50%;
    margin: 0 auto;
}

a:link {
  color: white;
}

a:hover {
  color:#ea4335

}
