
body {
  background-color: #d5997a;

  /* #4285f4 */
  /* background-image: url('/images/7123.jpg') */

}


.App {
  text-align: center;
 
}


h1 {
  padding-top: 20px;
  color: #554c4c;

}

h2 {
  color: #554c4c;
  padding-top: 20px;
}

p {
  font-style: italic;
  color:#f9f8f9;
  width: 50%;
  margin: 0 auto;
}

a:link {
  color: white;
}

a:hover {
  color:#A7A6A5;

}
